In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

WARNING:tensorflow:From C:\Users\vnyda\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Load Titanic dataset from Seaborn
titanic = sns.load_dataset('titanic')

titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
# Select relevant features and drop rows with missing values
titanic = titanic[['survived', 'pclass', 'sex', 'age', 'fare', 'embark_town']].dropna()

# Encode categorical variables
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})
titanic = pd.get_dummies(titanic, columns=['embark_town'], drop_first=True)

# Split dataset into features (X) and target (y)
X = titanic.drop(columns=['survived'])
y = titanic['survived']

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [4]:
# Standardize numerical features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [5]:
# Train Logistic Regression Model
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

# Predictions
y_pred_lr = log_reg.predict(X_test)

In [6]:
# Evaluate Logistic Regression
lr_metrics = {
    'Accuracy': accuracy_score(y_test, y_pred_lr),
    'Precision': precision_score(y_test, y_pred_lr),
    'Recall': recall_score(y_test, y_pred_lr),
    'F1 Score': f1_score(y_test, y_pred_lr),
    'Confusion Matrix': confusion_matrix(y_test, y_pred_lr)
}

# Print Logistic Regression results
for metric, value in lr_metrics.items():
    print(f"{metric}: {value}")

Accuracy: 0.7832167832167832
Precision: 0.7454545454545455
Recall: 0.7068965517241379
F1 Score: 0.7256637168141593
Confusion Matrix: [[71 14]
 [17 41]]

In [7]:
# Build ANN Model
ann = Sequential([
    Dense(32, activation='relu', input_shape=(X_train.shape[1],)),
    Dropout(0.3),
    Dense(16, activation='relu'),
    Dropout(0.2),
    Dense(1, activation='sigmoid')  # Sigmoid for binary classification
])

WARNING:tensorflow:From C:\Users\vnyda\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [8]:
# Compile the model
ann.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
ann.summary()

WARNING:tensorflow:From C:\Users\vnyda\AppData\Roaming\Python\Python311\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                224

 dropout (Dropout)           (None, 32)                0

 dense_1 (Dense)             (None, 16)                528

 dropout_1 (Dropout)         (None, 16)                0

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 769 (3.00 KB)
Trainable params: 769 (3.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [9]:
# Train the model
history = ann.fit(X_train, y_train, epochs=50, batch_size=16, validation_data=(X_test, y_test), verbose=1)

Epoch 1/50
WARNING:tensorflow:From C:\Users\vnyda\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\vnyda\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

36/36 [==============================] - 1s 7ms/step - loss: 0.6842 - accuracy: 0.5800 - val_loss: 0.6198 - val_accuracy: 0.7832
Epoch 2/50
36/36 [==============================] - 0s 2ms/step - loss: 0.6210 - accuracy: 0.7364 - val_loss: 0.5638 - val_accuracy: 0.7832
Epoch 3/50
36/36 [==============================] - 0s 2ms/step - loss: 0.5653 - accuracy: 0.7592 - val_loss: 0.5203 - val_accuracy: 0.7902
Epoch 4/50
36/36 [==============================] - 0s 3ms/step - loss: 0.5333 - accuracy: 0.7575 - val_loss: 0.4897 - val_accuracy: 0.7972
Epoch 5/50
36/36 [==============================] - 0s 2ms/step - loss: 0.5122 - accuracy: 0.7663 - val_loss: 0.4750 - val_accuracy: 0.7972
Epoch 6/50
36/36 [==============================] - 0s 2ms/step - loss: 0.5002 - accuracy: 0.7838 - val_loss: 0.4700 - val_accuracy: 0.7692
Epoch 7/50
36/36 [==============================] - 0s 2ms/step - loss: 0.5077 - accuracy: 0.7838 - val_loss: 0.4633 - val_accuracy: 0.7762
Epoch 8/50
36/36 [==============================] - 0s 2ms/step - loss: 0.5005 - accuracy: 0.7750 - val_loss: 0.4597 - val_accuracy: 0.7552
Epoch 9/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4724 - accuracy: 0.7891 - val_loss: 0.4553 - val_accuracy: 0.7692
Epoch 10/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4711 - accuracy: 0.7891 - val_loss: 0.4541 - val_accuracy: 0.7622
Epoch 11/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4612 - accuracy: 0.7856 - val_loss: 0.4532 - val_accuracy: 0.7622
Epoch 12/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4851 - accuracy: 0.7996 - val_loss: 0.4507 - val_accuracy: 0.7692
Epoch 13/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4647 - accuracy: 0.7996 - val_loss: 0.4509 - val_accuracy: 0.7762
Epoch 14/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4741 - accuracy: 0.7944 - val_loss: 0.4518 - val_accuracy: 0.7622
Epoch 15/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4811 - accuracy: 0.7979 - val_loss: 0.4535 - val_accuracy: 0.7692
Epoch 16/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4623 - accuracy: 0.7926 - val_loss: 0.4497 - val_accuracy: 0.7762
Epoch 17/50
36/36 [==============================] - 0s 4ms/step - loss: 0.4495 - accuracy: 0.7909 - val_loss: 0.4509 - val_accuracy: 0.7762
Epoch 18/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4604 - accuracy: 0.8014 - val_loss: 0.4506 - val_accuracy: 0.7832
Epoch 19/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4665 - accuracy: 0.7961 - val_loss: 0.4491 - val_accuracy: 0.7762
Epoch 20/50
36/36 [==============================] - 0s 4ms/step - loss: 0.4651 - accuracy: 0.7838 - val_loss: 0.4498 - val_accuracy: 0.7902
Epoch 21/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4516 - accuracy: 0.7961 - val_loss: 0.4515 - val_accuracy: 0.7692
Epoch 22/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4576 - accuracy: 0.8102 - val_loss: 0.4516 - val_accuracy: 0.7762
Epoch 23/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4518 - accuracy: 0.8084 - val_loss: 0.4490 - val_accuracy: 0.7622
Epoch 24/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4461 - accuracy: 0.7926 - val_loss: 0.4464 - val_accuracy: 0.7902
Epoch 25/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4572 - accuracy: 0.7996 - val_loss: 0.4480 - val_accuracy: 0.7902
Epoch 26/50
36/36 [==============================] - 0s 4ms/step - loss: 0.4444 - accuracy: 0.7909 - val_loss: 0.4495 - val_accuracy: 0.7832
Epoch 27/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4369 - accuracy: 0.8120 - val_loss: 0.4523 - val_accuracy: 0.7832
Epoch 28/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4534 - accuracy: 0.7891 - val_loss: 0.4498 - val_accuracy: 0.7762
Epoch 29/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4420 - accuracy: 0.7996 - val_loss: 0.4482 - val_accuracy: 0.7972
Epoch 30/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4558 - accuracy: 0.7944 - val_loss: 0.4467 - val_accuracy: 0.7972
Epoch 31/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4255 - accuracy: 0.8102 - val_loss: 0.4469 - val_accuracy: 0.7972
Epoch 32/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4448 - accuracy: 0.8014 - val_loss: 0.4477 - val_accuracy: 0.8042
Epoch 33/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4463 - accuracy: 0.8137 - val_loss: 0.4467 - val_accuracy: 0.8112
Epoch 34/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4400 - accuracy: 0.8137 - val_loss: 0.4498 - val_accuracy: 0.7972
Epoch 35/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4357 - accuracy: 0.8172 - val_loss: 0.4476 - val_accuracy: 0.7902
Epoch 36/50
36/36 [==============================] - 0s 3ms/step - loss: 0.4500 - accuracy: 0.7979 - val_loss: 0.4478 - val_accuracy: 0.7902
Epoch 37/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4456 - accuracy: 0.8032 - val_loss: 0.4500 - val_accuracy: 0.7902
Epoch 38/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4465 - accuracy: 0.8243 - val_loss: 0.4501 - val_accuracy: 0.7972
Epoch 39/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4576 - accuracy: 0.8067 - val_loss: 0.4507 - val_accuracy: 0.7972
Epoch 40/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4317 - accuracy: 0.8225 - val_loss: 0.4542 - val_accuracy: 0.7762
Epoch 41/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4401 - accuracy: 0.8155 - val_loss: 0.4526 - val_accuracy: 0.8042
Epoch 42/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4453 - accuracy: 0.8014 - val_loss: 0.4501 - val_accuracy: 0.7972
Epoch 43/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4430 - accuracy: 0.8032 - val_loss: 0.4481 - val_accuracy: 0.7972
Epoch 44/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4335 - accuracy: 0.7979 - val_loss: 0.4494 - val_accuracy: 0.7972
Epoch 45/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4441 - accuracy: 0.8155 - val_loss: 0.4481 - val_accuracy: 0.8042
Epoch 46/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4224 - accuracy: 0.8225 - val_loss: 0.4487 - val_accuracy: 0.7972
Epoch 47/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4357 - accuracy: 0.8102 - val_loss: 0.4476 - val_accuracy: 0.7902
Epoch 48/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4334 - accuracy: 0.8172 - val_loss: 0.4475 - val_accuracy: 0.8042
Epoch 49/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4340 - accuracy: 0.7909 - val_loss: 0.4460 - val_accuracy: 0.8042
Epoch 50/50
36/36 [==============================] - 0s 2ms/step - loss: 0.4311 - accuracy: 0.8172 - val_loss: 0.4471 - val_accuracy: 0.7902

In [10]:
# Predict class probabilities
y_pred_ann_prob = ann.predict(X_test)

# Convert probabilities to binary values (0 or 1)
y_pred_ann = (y_pred_ann_prob > 0.5).astype(int).flatten()

5/5 [==============================] - 0s 1ms/step

In [11]:
# Evaluate ANN Model
ann_metrics = {
    'Accuracy': accuracy_score(y_test, y_pred_ann),
    'Precision': precision_score(y_test, y_pred_ann),
    'Recall': recall_score(y_test, y_pred_ann),
    'F1 Score': f1_score(y_test, y_pred_ann),
    'Confusion Matrix': confusion_matrix(y_test, y_pred_ann)
}

# Print ANN results
for metric, value in ann_metrics.items():
    print(f"{metric}: {value}")

Accuracy: 0.7902097902097902
Precision: 0.7916666666666666
Recall: 0.6551724137931034
F1 Score: 0.7169811320754716
Confusion Matrix: [[75 10]
 [20 38]]

In [12]:
# Create a DataFrame to compare Logistic Regression and ANN metrics
import pandas as pd

comparison_df = pd.DataFrame({
    "Metric": ["Accuracy", "Precision", "Recall", "F1 Score"],
    "Logistic Regression": [lr_metrics["Accuracy"], lr_metrics["Precision"], lr_metrics["Recall"], lr_metrics["F1 Score"]],
    "ANN": [ann_metrics["Accuracy"], ann_metrics["Precision"], ann_metrics["Recall"], ann_metrics["F1 Score"]]
})

# Display the comparison table
print(comparison_df)

      Metric  Logistic Regression       ANN
0   Accuracy             0.783217  0.790210
1  Precision             0.745455  0.791667
2     Recall             0.706897  0.655172
3   F1 Score             0.725664  0.716981